.pricing {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 5%;
    align-items: center;
    color: #000000;
}

.box {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    width: 50%;
    height: 50%;
}

.box li {
    list-style-type: none;
    margin: 0 5px;

}