.navPage {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 20%;
}

.menuLogo {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0;
    padding: 25px;
}

.sideNav {
    display: flex;
    flex-direction: row;
    width: 20%;
    min-width: 150px;
}

.menu {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
    height: 400px;
    padding: 0 40px 0 20px;

}

.menuList {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.listItem {
    display: flex;
    margin: 10px 0;
    text-align: center;
}

.routeStyles {
    display: flex;
    width: 100%;
}

.style-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #010101;
}

.style-link:hover {
    color: red;
}

.styled-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.styled-link:hover {
    color: red;
}

/* Responsive Media Queries */

@media only screen and (max-width: 1024px) and (min-width: 400px) {
    .navPage {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .menuLogo {
        text-align: center;
        width: 100%;
    }

    .sideNav {
        flex-direction: column;
        width: 100%;
    }

    .menu {
        display: flex;
        height: 100px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding: 0;

    }

    .menuList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 0;
        font-size: 14px;
    }

    .listItem {
        margin: 0 5px;
        padding: 0;
    }
}