/* .sideNav {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 20%;
}

.menuLogo {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0;
    padding: 25px;
}

.sideNav {
    display: flex;
    flex-direction: row;
    width: 20%;
    min-width: 150px;
}

.menu {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
    height: 400px;
    padding: 0 40px 0 20px;

}

.menuList {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.listItem {
    display: flex;
    margin: 10px 0;
    text-align: center;
}

.routeStyles {
    display: flex;
    width: 100%;
}

.style-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #010101;
}

.style-link:hover {
    color: red;
}

.menu_logo {
    text-indent: -9999999px;
    display: inline-block;
    height: 100%;
    width: 92px;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
} */
